.DS_Store
Demo/aliyunVodDemo/aliyunVodDemo.xcworkspace/xcuserdata
Demo/aliyunVodDemo/aliyunVodDemo.xcworkspace/xcshareddata/
auto-merge.sh
fastlane/report.xml
aliyunVodDemo.xcworkspace/xcuserdata


# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

